body {
    margin: 0;
    background-color: #1e7d34;
    color: white;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh;
    background-color: #14532d;
    padding: 1rem;
}

.sidebar h2 {
    margin: 0;
    font-size: 1.25rem;
}

.pagina-principal {
    margin-left: 220px;
    padding: 1rem;
}

.barra-busqueda {
    background-color: #0e4d1c;
    border: 3px solid #051b0a;
    color: white;
}

.barra-busqueda::placeholder {
    color: #ddd;
}

.cuadradito-partido {
    background-color: #0e4d1c;
    width: 474px;
    height: 230px;
    border-radius: 8px;
}
.estrella {
    padding-left: 1rem;
}
.titulo-partidos {
    padding-left: 0.5rem;
    font-size: 1.25rem;
    margin-top: 0.5rem;
    font-weight: 650;
}
.titulo-partidos2 {
    padding-left: 0.5rem;
    font-size: 1.25rem;
    margin-top: 0.5rem;
    font-weight: 650;
}

.cuadradito-video {
    width: 300px;
    text-align: center;
}

.box-video {
    background-color: #0e4d1c;
    height: 180px;
    border-radius: 8px;
}

.titulo-video {
    font-size: 1.25rem;
    margin-top: 0.5rem;
}