body {
    margin: 0;
    background-color: #1e7d34;
    color: white;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 180px;
    height: 100vh;
    background-color: #14532d;
    padding: 1rem;
}


.sidebar h2 {
    margin: 0;
    font-size: 1.25rem;
}

.pagina-principal {
    margin-left: 180px;
    padding: 1rem;
}


.barra-busqueda {
    background-color: #0e4d1c;
    border: 3px solid #051b0a;
    color: white;
}

.search-bar::placeholder {
    color: #ddd;
}

.box {
    width: 100%;
    height: 180px;
    border-radius: 8px;
}

.cuadradito-partido {
    background-color: #0e4d1c;
}

.cuadradito-video {
    background-color: #0e4d1c;
}

.titulo-video {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    text-align: center;
}
